@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body{
    font-family: 'Roboto' , sans-serif;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container{
    width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ---------------------------------------------HEADER STYLES START---------------------------------------------  */

.header__box {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}
.header__box-line1 {
    color: rgba(51, 51, 51, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header__box-phone {
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 8px;
    color: rgba(51, 51, 51, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header__box-img {
    margin-left: 20px;
}
.header__box-text {
    margin-right: 23px;
    color: rgba(51, 51, 51, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header__box-list {
    padding: 25px 0 27px 0;
    padding-left: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.header__box-item{
    display: flex;
    align-items: center;
    gap: 4px;
    /* position: relative; */
}
.header__box-item  strong{
    cursor: pointer;
}
.header__box-list::before{
    content: " ";
    width: 2px;
    height: 50px;
    background-color: rgba(51, 51, 51, 0.10);
    top: 13px;
    right: 0;
    left: 1140px;
    bottom: 0;
    position: absolute;
}
/* .header__box-inner{
    width: 83px;
    height: 112px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #4762FF;
    border-radius: 10px;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
} */
/* .header__box-item:hover > .header__box-inner{
    padding: 5px;
    height: 112px;
} */
.header__box-item-inner{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 1.275px;
    text-transform: uppercase;
}
.header__box-link {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 1.275px;
    text-transform: uppercase;
}
.header-hr {
    background-color: rgba(51, 51, 51, 0.10);
}
.header__wrap {
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__wrap-card1 {
    display: flex;
    align-items: center;
}
.header__wrap-logo{
    display: inline-block;
    display: flex;
    align-items: center;
}
.header__wrap-text {
    margin-left: 6px;
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.header__wrap-list {
    display: flex;
    align-items: center;
}
.header__wrap-item + .header__wrap-item{
    margin-left: 46px;
}
.header__wrap-link {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.header__wrap-card3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__wrap-inner {
    width: 117px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.header__wrap-input {
    width: 48px;
    border: none;
    color: #707070;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%; /* 25.28px */
    letter-spacing: 0.12px;
}
.header__wrap-img{
    padding-right: 6px;
}
.header__wrap-phone {
    padding: 8px 15px;
    display: flex;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 158%; /* 25.28px */
    letter-spacing: 0.12px;
    border-radius: 6px;
    background-color: #4762FF;
}

/* HEADER STYLES END  */

/* ------------------------------------------------INTRO STYLES START--------------------------------------------------------------------  */

.intro-section {
    background-image: url("../image/intro-bg.png");
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: center;
    position: relative;
}
.intro{
    padding: 110px 0 6px;
}
.intro__content {
    width: 558px;
}
.intro__content::after{
    content: " ";
    background-image: url("../image/left-right.png");
    background-repeat: no-repeat;
    background-size: 100px 50px;
    position: absolute;
    left: 1325px;
    right: 0;
    top: 237px;
    bottom: 0;
}
.intro__content-title {
    color: #FFF;
    font-feature-settings: 'liga' off;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.intro__content div{
    width: 496px;
    margin: 16px 0 32px;
}
.intro__content-text{
    color: rgba(255, 255, 255, 0.80);
    font-feature-settings: 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.intro__content-link {
    width: 196px;
    margin-bottom: 60px;
    padding: 15px 30px 15px 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #4762FF;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* .intro-img{
    margin-top: 140px;
} */
.intro__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intro__box-card{
    margin-left: 385px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.intro__box-line {
    width: 100px;
    height: 2px;
    background-color: #CCCCCC;
}
.intro__wrap{
    /* margin-left: 300px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* INTRO STYLES END  */

/* --------------------------------------------------NAS STYLES START---------------------------------------------  */

.nas-section {
    padding: 68px 0 76px;
}
.nas {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.nas-img{
    border-radius: 0 0 50px 50px;
}
.nac__content {
    width: 572px;
}
.nas__content-title {
    color: #333;
    font-feature-settings: 'liga' off;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nas__content-wrap {
    margin-bottom: 45px;
}
.nas__content-text {
    margin-top: 16px;
    margin-bottom: 25px;
    color: rgba(51, 51, 51, 0.80);
    font-feature-settings: 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nas__content-link {
    margin-left: 380px;
    display: inline-flex;
    padding: 15px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #4762FF;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* ------------------------------------------------NASH STYLES START --------------------------------------------  */

.nash-section {
    padding-bottom: 58px;
    position: relative;
}
.nash__box {
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nash__title {
    color: #333;
    text-align: center;
    font-feature-settings: 'liga' off;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nash__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nash__list::before{
    content: " ";
    background-image: url("../image/right.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    position: absolute;
    left: 79px;
    top: 265px;
    bottom: 0;
    right: 0;
}
.nash__list::after{
    content: " ";
    background-image: url("../image/left.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    position: absolute;
    left: 1395px;
    top: 265px;
    bottom: 0;
    right: 0;
}
.nash__item {
    width: 250px;
    height: 332px;
    border-radius: 6px;
    background-color: #FFF;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
}
.nash__wrap{
    margin-left: 19px;
    width: 177px;
    margin-bottom: 14px;
}
.nash__item-title {
    margin-left: 19px;
    margin-bottom: 3px;
    color: rgba(0, 0, 0, 0.80);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
}
.nash__bold {
    color: rgba(51, 51, 51, 0.80);
    font-feature-settings: 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}
.nash__line {
    color: rgba(51, 51, 51, 0.60);
    font-feature-settings: 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.nash__link {
    margin-left: 19px;
    display: inline-flex;
    padding: 9px 61px 10px 61px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #4762FF;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ---------------------------------------------KABIN STYLES-------------------------------- ------------  */

.kabin-section{
    position: relative;
}
.kabin {
    margin-bottom: 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.kabin__title {
    margin-top: 7px;
    color: #333;
    text-align: center;
    font-feature-settings: 'liga' off;
    /* font-family: Helvetica Neue; */
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.kabin__title-line{
    color: #333;
    font-feature-settings: 'liga' off;
    /* font-family: Helvetica Neue; */
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
}
.kabin__title::before{
    content: " ";
    background-image: url("../image/right.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    position: absolute;
    left: 79px;
    top: 310px;
    bottom: 0;
    right: 0;
}
.kabin__title::after{
    content: " ";
    background-image: url("../image/left.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    position: absolute;
    left: 1395px;
    top: 310px;
    bottom: 0;
    right: 0;
}
.kabin__box{
    width: 873px;
    margin-left: 172px;
    margin-top: 10px;
    margin-bottom: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.kabin__text {
    color: rgba(51, 51, 51, 0.80);
    text-align: center;
    font-feature-settings: 'liga' off;
    /* font-family: Helvetica Neue; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ----------------------------------------PART STYLES------------------------------- */

.part-section {
    margin-bottom: 57px;
}
.part-title {
    margin-bottom: 31px;
    color: #333;
    text-align: center;
    font-feature-settings: 'liga' off;
    /* font-family: Helvetica Neue; */
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* -----------------------------CONSOL STYLE----------------------------  */

.consol-section {
    padding: 118px 0 90px;
    background-image: url("../image/form-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.consol {
    width: 607px;
    height: 479px;
    margin-left: 593px;
    padding: 20px 35px 40px 36px;
    background-color: #4762FF;
    border-radius: 15px;
}
.consol__box {
    width: 536px;
    margin-bottom: 16px;
}
.consol__title {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off;
    /* font-family: Helvetica Neue; */
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.consol__wrap {
    width: 531px;
    margin-bottom: 25px;
}
.consol__text {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-feature-settings: 'liga' off;
    /* font-family: Helvetica Neue; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.consol__input {
    width: 532px;
    height: 56px;
    margin-bottom: 23px;
    padding: 18px 23px 19px 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    border: none;
}
.consol__input::placeholder{
    color: #FFF;
    /* font-family: Helvetica Neue; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.consol__btn {
    width: 532px;
    margin-top: 14px;
    padding: 22px 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: #4762FF;
    text-align: center;
    /* font-family: Helvetica Neue; */
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* ------------------------------------  FOOTER STYLE ------------------------------------- */

.site-footer {
    padding: 50px 0 111px;
    background-color: #191919;
    position: relative;
}
.footer {
    display: flex;
    align-items: start;
}
.footer__box {
    margin-right: 105px;
    display: flex; 
    align-items: center;
}
.footer__logo-link {
    display: inline-block;
    margin-right: 6px;
}
.footer__bold {
    color: #FFF;
    /* font-family: Montserrat; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer__wrap{
    width: 127px;
    margin-right: 256px;
}
.footer__wrap ul{
    margin-top: 15px;
}
.footer__bold1 {
    color: #FFF;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer__item + .footer__item{
    margin-top: 8px;
}
.footer__link {
    color: #FFF;
    /* font-family: Helvetica Neue; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__demo {
    width: 260px;
    margin-right: 38px;
}
.footer__demo ul{
    margin-top: 15px;
}
.footer__demo-item + .footer__demo-item {
    margin-top: 8px;
}
.footer__demo-link {
    color: #FFF;
    /* font-family: Helvetica Neue; */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer__demo-linknum{
    color: #FFF;
    /* font-family: Helvetica Neue; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__line {
    color: #FFF;
    /* font-family: Helvetica Neue; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__card {
    display: flex;
    width: 285px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.footer__card::after{
    content: " ";
    background-image: url("../image/footer-image.svg");
    background-repeat: no-repeat;
    background-size: 95px 75px;
    position: absolute;
    left: 1360px;
    top: 177px;
    right: 0;
    bottom: 0;
}
.footer__bold1 {
    color: #FFF;
    /* font-family: Helvetica Neue; */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer__input {
    width: 263px;
    height: 56px;
    padding: 18px 11px 19px 12px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background-color: rgba(255, 255, 255, 0.00);
}
.footer__input::placeholder{
    color: #FFF;
    /* font-family: Helvetica Neue; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__btn {
    width: 263px;
    height: 56px;
    margin-top: 20px;
    display: flex;
    /* padding: 18px 185px; */
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #FFF;
    background-color: rgba(255, 255, 255, 0.10);
    color: #FFF;
    text-align: center;
    /* font-family: Helvetica Neue; */
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer__line1{
    width: 1189px;
    height: 0.7px;
    position: absolute;
    left: 158px;
    top: 280px;
    background-color: #474747;
}
.footer__line2{
    position: absolute;
    left: 158px;
    bottom: 32px;
    color: #D9DBE1;
    font-feature-settings: 'liga' off;
    /* font-family: Helvetica Neue; */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
}